name: Greet Everyone
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  build:
    # Job name is Greeting
    name: Greeting
    # This job runs on Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    # This step uses GitHub's hello-world-javascript-action: https://github.com/actions/hello-world-javascript-action
    - run: exit 1
    - run: echo "i'm here!"
