name: print
on: push
env: 
  continue: true
  time: 3
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - continue-on-error: ${{ fromJSON(env.continue) }}
      timeout-minutes: ${{ fromJSON(env.time) }}
      run: exit 1
    - run: | 
        echo "I'm here!"
        echo ${{ fromJSON(env.continue) }}
        echo ${{ fromJSON(env.time) }}
      
