name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Person to greet'
        required: true
        default: 'Mona the Octocat'
      home:
        description: 'location'
        required: false
        default: 'San Francisco, CA'

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Hello ${{ github.event.inputs.name }}!"
        echo "- in ${{ github.event.inputs.home }}!"
    - uses: actions/checkout@v2
    - run: echo the workflow directory is $GITHUB_WORKSPACE
    - name: List workflow dir contents
      run: cd $GITHUB_WORKSPACE && ls -LR
