name: Greeting workflow
on: [push, pull_request]
jobs:
  conditional:
    runs-on: ubuntu-latest
    steps:
    - run: echo "This step runs with str equals 'ABC' and num equals 123"
      if: str == 'ABC' && num == 123
