name: Node CI

on: [push]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: npm install, build, and test
        run: |
          mkdir dist
          echo "this is a file" > dist/file1.txt
          mkdir dist/build1
          echo "this is another file" > dist/build1/file2.txt
          mkdir -p output/test
          echo "code coverage in here" > output/test/code-coverage.html
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: output/test/code-coverage.html
